httpflow.json
[
    {
        "id": "e138b3be.773f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca33fa8.7b99908",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4b331d4.eb89a",
        "type": "tab",
        "label": "Post flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ad42d5.bd518d3",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff74427a.e8fdb",
        "type": "http in",
        "z": "e138b3be.773f5",
        "name": "",
        "url": "/hello",
        "method": "get",
        "swaggerDoc": "",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "502cb0ce.b20e"
            ]
        ]
    },
    {
        "id": "502cb0ce.b20e",
        "type": "template",
        "z": "e138b3be.773f5",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "60e695a0.1b7a8c"
            ]
        ]
    },
    {
        "id": "60e695a0.1b7a8c",
        "type": "http response",
        "z": "e138b3be.773f5",
        "name": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a581241.31893c",
        "type": "debug",
        "z": "e138b3be.773f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "e0bc021f.fbe11",
        "type": "template",
        "z": "e138b3be.773f5",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d6b43b58.5b2168"
            ]
        ]
    },
    {
        "id": "9a10eee1.72232",
        "type": "http in",
        "z": "e138b3be.773f5",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "e0bc021f.fbe11"
            ]
        ]
    },
    {
        "id": "d6b43b58.5b2168",
        "type": "http response",
        "z": "e138b3be.773f5",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "572cc1cb.1cffc",
        "type": "http response",
        "z": "e138b3be.773f5",
        "name": "",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "315b4dfd.110a52",
        "type": "template",
        "z": "e138b3be.773f5",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "572cc1cb.1cffc"
            ]
        ]
    },
    {
        "id": "47117243.86890c",
        "type": "http in",
        "z": "e138b3be.773f5",
        "name": "",
        "url": "/hello-param/:name",
        "method": "get",
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "315b4dfd.110a52"
            ]
        ]
    },
    {
        "id": "a5a54642.4a6b88",
        "type": "http in",
        "z": "e138b3be.773f5",
        "name": "",
        "url": "/hello-headers",
        "method": "get",
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "cf62fb05.b93728",
                "6a581241.31893c"
            ]
        ]
    },
    {
        "id": "cf62fb05.b93728",
        "type": "template",
        "z": "e138b3be.773f5",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>User agent: {{req.headers.user-agent}}</h1>\n    </body>\n</html>",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "e2795711.9b44a8"
            ]
        ]
    },
    {
        "id": "e2795711.9b44a8",
        "type": "http response",
        "z": "e138b3be.773f5",
        "name": "",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "56265361.6b79ec",
        "type": "inject",
        "z": "ca33fa8.7b99908",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "dc709629.fa6198"
            ]
        ]
    },
    {
        "id": "dc709629.fa6198",
        "type": "change",
        "z": "ca33fa8.7b99908",
        "name": "Store time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f4eb3efd.86921",
        "type": "http in",
        "z": "ca33fa8.7b99908",
        "name": "",
        "url": "/hello-data",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c59925da.3f99c8"
            ]
        ]
    },
    {
        "id": "c59925da.3f99c8",
        "type": "change",
        "z": "ca33fa8.7b99908",
        "name": "Copy time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "timestamp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "b35aab04.9df6a8"
            ]
        ]
    },
    {
        "id": "b35aab04.9df6a8",
        "type": "template",
        "z": "ca33fa8.7b99908",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "8ea8f5f1.47d7c8"
            ]
        ]
    },
    {
        "id": "8ea8f5f1.47d7c8",
        "type": "http response",
        "z": "ca33fa8.7b99908",
        "name": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "edfae05.8b7d92",
        "type": "debug",
        "z": "ca33fa8.7b99908",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "91af03f2.2fb92",
        "type": "http in",
        "z": "ca33fa8.7b99908",
        "name": "",
        "url": "/hello-json",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "46632095.6df15"
            ]
        ]
    },
    {
        "id": "46632095.6df15",
        "type": "template",
        "z": "ca33fa8.7b99908",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "d989161c.b133f8"
            ]
        ]
    },
    {
        "id": "d989161c.b133f8",
        "type": "change",
        "z": "ca33fa8.7b99908",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "6e71bde3.c91794"
            ]
        ]
    },
    {
        "id": "6e71bde3.c91794",
        "type": "http response",
        "z": "ca33fa8.7b99908",
        "name": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef19d6a3.1665f8",
        "type": "http in",
        "z": "ca33fa8.7b99908",
        "name": "",
        "url": "/hello-file",
        "method": "get",
        "swaggerDoc": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "7dc2eabe.9573f4"
            ]
        ]
    },
    {
        "id": "7dc2eabe.9573f4",
        "type": "file in",
        "z": "ca33fa8.7b99908",
        "name": "",
        "filename": "/tmp/node-red.png",
        "format": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "3b1b5754.452918"
            ]
        ]
    },
    {
        "id": "3b1b5754.452918",
        "type": "change",
        "z": "ca33fa8.7b99908",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "image/png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "2144eed0.199b92",
                "edfae05.8b7d92"
            ]
        ]
    },
    {
        "id": "2144eed0.199b92",
        "type": "http response",
        "z": "ca33fa8.7b99908",
        "name": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "334fd011.6a84e",
        "type": "http in",
        "z": "d4b331d4.eb89a",
        "name": "",
        "url": "/hello-raw",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "359ed797.9a2698"
            ]
        ]
    },
    {
        "id": "359ed797.9a2698",
        "type": "template",
        "z": "d4b331d4.eb89a",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload }}!</h1>\n    </body>\n</html>",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "97fae20.53d642"
            ]
        ]
    },
    {
        "id": "97fae20.53d642",
        "type": "http response",
        "z": "d4b331d4.eb89a",
        "name": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccc41557.cf14c8",
        "type": "debug",
        "z": "d4b331d4.eb89a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc97b6bf.f52948",
        "type": "http in",
        "z": "d4b331d4.eb89a",
        "name": "",
        "url": "/hello-form",
        "method": "post",
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "cb0a56b9.d57008",
                "ccc41557.cf14c8"
            ]
        ]
    },
    {
        "id": "cb0a56b9.d57008",
        "type": "template",
        "z": "d4b331d4.eb89a",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "36ff9203.8dd45e"
            ]
        ]
    },
    {
        "id": "36ff9203.8dd45e",
        "type": "http response",
        "z": "d4b331d4.eb89a",
        "name": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "cac35135.57347",
        "type": "inject",
        "z": "d4b331d4.eb89a",
        "name": "make request",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "50e649c4.589cf8"
            ]
        ]
    },
    {
        "id": "50e649c4.589cf8",
        "type": "http request",
        "z": "d4b331d4.eb89a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://nodered.org",
        "tls": "",
        "x": 274.5,
        "y": 320,
        "wires": [
            [
                "fe5fbee0.39f5b",
                "dea59a89.22f958"
            ]
        ]
    },
    {
        "id": "dea59a89.22f958",
        "type": "debug",
        "z": "d4b331d4.eb89a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe5fbee0.39f5b",
        "type": "html",
        "z": "d4b331d4.eb89a",
        "name": "",
        "property": "",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f76614.6f6328",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "72fd86cf.579c28"
            ]
        ]
    },
    {
        "id": "5310b381.2b8fec",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "cars on craigslist",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "http://vancouver.craigslist.org/search/sss?format=rss&query=cars",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "46887349.9926fc"
            ]
        ]
    },
    {
        "id": "46887349.9926fc",
        "type": "change",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "b1f76614.6f6328"
            ]
        ]
    },
    {
        "id": "72fd86cf.579c28",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "758e6e08.2d2b7",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "b3a36c02.6afc3"
            ]
        ]
    },
    {
        "id": "b3a36c02.6afc3",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "f70e1062.4fd4a",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "post id",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "67012047.f1fb7"
            ]
        ]
    },
    {
        "id": "67012047.f1fb7",
        "type": "change",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "758e6e08.2d2b7"
            ]
        ]
    },
    {
        "id": "fc300d4e.3d0b5",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json",
        "tls": "",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "769aa91a.66abc8"
            ]
        ]
    },
    {
        "id": "769aa91a.66abc8",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "34bbcd7c.ed9cf2",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "query parameter",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")",
        "payloadType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "8a2eed90.9522e"
            ]
        ]
    },
    {
        "id": "8a2eed90.9522e",
        "type": "change",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "fc300d4e.3d0b5"
            ]
        ]
    },
    {
        "id": "223ed999.e3d466",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "56484307.4237ec"
            ]
        ]
    },
    {
        "id": "56484307.4237ec",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb408d3e.811a8",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "post id",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "2af50d30.d04642"
            ]
        ]
    },
    {
        "id": "2af50d30.d04642",
        "type": "change",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "223ed999.e3d466"
            ]
        ]
    },
    {
        "id": "ec74d1d1.9ffee",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "ef0d8d33.f4241"
            ]
        ]
    },
    {
        "id": "9a88ff6f.1205",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "post to FRED",
        "method": "POST",
        "ret": "txt",
        "url": "http://mike.fred.sensetecnic.com/api/test",
        "tls": "",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "9bd8cfdd.1f362"
            ]
        ]
    },
    {
        "id": "ef0d8d33.f4241",
        "type": "function",
        "z": "1ad42d5.bd518d3",
        "name": "set payload and headers",
        "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "9a88ff6f.1205"
            ]
        ]
    },
    {
        "id": "9bd8cfdd.1f362",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "d6d65391.7cf95",
        "type": "inject",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "d3d8b541.faf9f8"
            ]
        ]
    },
    {
        "id": "d3d8b541.faf9f8",
        "type": "http request",
        "z": "1ad42d5.bd518d3",
        "name": "binary http request",
        "method": "GET",
        "ret": "bin",
        "url": "http://localhost:1880/binary",
        "tls": "",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "4587e481.cc79dc"
            ]
        ]
    },
    {
        "id": "4587e481.cc79dc",
        "type": "debug",
        "z": "1ad42d5.bd518d3",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 380,
        "wires": []
    }
]